<h1>Sign up Page</h1>
<form id="sign-up">
  <input type="text" name="name" id="name-field" class="login-form-field" placeholder="Name">
  <input type="text" name="email" id="email-field" class="login-form-field" placeholder="Email">
  <input type="text" name="password" id="password-field" class="password-form-field" placeholder="Password">
  <input type="text" name="password" id="password-field" class="password-form-field" placeholder="Enter Password Again">
  <input type="submit" value="Login" id="login-form-submit">

</form>
